body {
  /* TODO: refractor and use better css syntax*/
  font-family: "Mulish", sans-serif;
  background: rgb(246 246 246);
  color: rgb(31, 31, 31);
  text-align: center;
  margin: auto;
}

#app {
  width: 40%;
  height: fit-content;
  margin: 5rem auto;
  padding: 1rem 0;
  border-radius: 5px;
  background: white;
  box-shadow: 0px 3px 14px 3px #dfdfdf;
}

.headerText {
}



.formContainerWrapper {
  width: 70%;
  padding: 2rem 2rem 3rem 2rem;
  margin: 0 auto;
  border-radius: 10px;
  margin-bottom: 2rem;
  background: #f7f7f7;
  box-shadow: 0px 3px 5px 1px #e9e9e9;
}

#logoText {
  font-size: 1.5rem;
  margin-left: 2rem;
  text-decoration: none;
  color: rgb(31, 31, 31);
}

#logoText:hover {
  text-decoration: none;
  cursor: pointer;
  color: rgb(209, 93, 93);
}

.navBarContainer {
  background: #ffffff;
  width: 100%;
  height: 3rem;
  display: flex;
  align-items: center;
  box-shadow: 0px 1px 5px 1px #dcdcdcd9;
}

@media only screen and (min-width: 600px) {
  #footer {
    text-align: right;
    position: absolute;
    bottom: 5%;
    width: 95%;
  }
}

@media only screen and (max-width: 600px) {
  #app {
    width: 100%;
    height: fit-content;
    margin: 5rem auto;
    padding: 1rem 0;
    border-radius: 5px;
    background: white;
    box-shadow: 0px 3px 14px 3px #dfdfdf;
}

#logoText {
  font-size: 1rem;
  font-weight: 600;
  margin: 0 0.5rem;
  text-decoration: none;
  color: rgb(31, 31, 31);
}

  .navBarContainer {
    background: #ffffff;
    width: 100%;
    display: flex;
    align-items: center;
    box-shadow: 0px 1px 5px 1px #dcdcdcd9;
  }

  .userNavigationWrapper {
    width: fit-content;
    display: flex;
    margin-left: auto;
    align-items: center;
}
.subHeaderText {
  font-size: 0.7rem;
}

}

.userNavigationWrapper {
  width: fit-content;
  display: flex;
  margin-left: auto;
}

.navText {
  margin: 0 auto;
  width: fit-content;
  margin: 0 1rem;
}

.navText:hover {
  color: rgb(72, 72, 72);
  cursor: pointer;
  border-bottom: 1px solid rgb(113, 113, 113);
}

#profileWrapper {
  text-decoration: none;
  color: #561b7d;
  margin: 0 auto;
}

#expressdocs:hover {
  color: white;
  cursor: pointer;
}

.inputBar {
  margin: 1rem 0;
  width: 200px;
  padding: 15px;
  font-family: "Mulish", sans-serif;
  border-radius: 5px;
  border: 1px solid #c8c8c8;
}

.buttonContainer {

}

#addButton {
  padding: 15px;
  border: none;
  font-family: "Mulish", sans-serif;
  margin-left: 10px;
  border-radius: 5px;
  background-color: rgb(137, 199, 141);
  color: white;
}

#addButton:hover {
  cursor: pointer;
  background-color: rgb(102, 160, 100);
}

#clearButton {
  padding: 15px;
  margin-left: 10px;
  border: none;
  font-family: "Mulish", sans-serif;
  border-radius: 5px;
  background-color: rgb(209, 93, 93);
  color: white;
}

#clearButton:hover {
  cursor: pointer;
  background-color: rgb(184, 62, 62);
  color: white;
}

#restaurantItems {
  text-align: center;
  list-style: none;
  padding: 1%;
  margin: auto;
  font-size: 20px;
  font-weight: 600;
}

#randomButton {
  padding: 15px 30px;
  border: none;
  font-family: "Mulish", sans-serif;
  border-radius: 5px;
  background-color: rgb(241, 232, 145);
}

#backToListButton {
  padding: 15px 30px;
  border: none;
  font-family: "Mulish", sans-serif;
  border-radius: 5px;
  background-color: rgb(127 203 233);
  margin: 1rem;
}

#backToListButton:hover {
  cursor: pointer;
  background-color: rgb(79, 146, 227);
  color: white;
}

#randomButton:hover {
  cursor: pointer;
  background-color: rgb(234, 173, 81);
  color: white;
}

#listDiv {
  padding: 2rem 0 2rem 0;
}

.individual_container {
  display: flex;
  width: 300px;
  margin: 1% auto;
}

.cross_button:hover {
  cursor: pointer;
  font-weight: 600;
}

.restaurantChoiceWrapper {
  margin: 3rem 0;
}

#restaurantChoiceText {
  font-weight: 600;
  font-size: 20px;
}

#restaurantChoiceResultText {
  text-decoration: none;
  font-size: 2rem;
  margin: 1rem 0;
  color: rgb(83 177 89);
}

#restaurantChoiceResultText:hover {
  text-decoration: none;
  color: rgb(209, 93, 93);
  border-bottom: 1px solid rgb(209, 93, 93);
}



#redirectText {
  text-decoration: none;
  color: #4e94c5;
}
